<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fotile.c2i.activity.music">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:theme="@style/AppCustomTheme">


        <activity
            android:name="com.fotile.c2i.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!--LAUNCHER-->
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.fotile.c2i.activity.MusicOnlineActivity"></activity>
        <activity android:name="com.fotile.c2i.activity.MusicSearchActivity"></activity>
        <activity android:name="com.fotile.c2i.activity.MusicTrackActivity"></activity>
        <activity android:name="com.fotile.c2i.activity.MusicPlayActivity"></activity>

        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:exported="true"
            android:process=":player"/>
        <meta-data
            android:name="app_key"
            android:value="3df82c7f78ccd66055e8642011864ddb"/>
        <meta-data
            android:name="pack_id"
            android:value="com.fotile.c2i"/>
    </application>
</manifest>
